.modalForm {
  position: fixed;
  background-color: rgba(32, 107, 72, 0.336);
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  display: grid;
  place-content: center;
  display:none;
  z-index: 100;
}

.modalFormActive {
  display: grid;
}

.modalForm__form {
  position: relative;
  background-color: #fff;  
  padding: 28px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap:10px;
  border-radius: 4px;  
}

.x {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  

}

.x:hover {
  color: rgb(187, 6, 6);
}

.modalForm__user {
  font-size: 30px;
  margin: 10px 0;
  
}

.modalForm__div {
  line-height: 30px;
  background-color: #fff;
  
}

.modalForm__label {
  display: block;
  padding: 5px;
  
}

.modalForm__input {
  width: 93%; 
  padding: 9px;
  outline: none;
  font-family: var(--font-zize);
}

.modalForm__btn {
  background-color: var(--color__btn);
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  width: 100%;
  margin: 12px 0;
  cursor: pointer;
  transition: background 200ms ease

}

.modalForm__btn:hover {
  background-color: var(--c);
}
